<div class="home-wrapper">
  <h1 class="title">Welcome to the MBTA Info Page</h1>
  <div class="content">
    <div class="nav-container">
      <div class="link" (click)="navToCuteKittens()">
        <div class="icon">
          <img src="assets/img/kitten.jpeg" alt="cute kitten">
        </div>
        <div class="link-label">
          See Cute Kittens
        </div>
      </div>
      <div class="link" (click)="navToRoutes()">
        <div class="icon">
          <img src="assets/img/routes.jpg" alt="train routes">
        </div>
        <div class="link-label">
          See train routes
        </div>
      </div>
    </div>
  </div>
</div>

